<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{includes/commonScripts :: head}"></th:block>
</head>
<body>
<h1>Eventus = witaj!</h1>
<a th:href="@{/register}">Register</a>
<a th:href="@{/login}">Sign in</a>
</body>
</html>